<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contatti</h5>
          <ul class="list-unstyled">
            <li><i class="material-icons">email</i> Email: info@example.com</li>
            <li><i class="material-icons">phone</i> Telefono: +39 123 456 7890</li>
            <li><i class="material-icons">location_on</i> Indirizzo: Via Roma, 100 - 95041 Caltagirone (CT)</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Seguici</h5>
          <ul class="list-unstyled social-links">
            <li><a href="https://www.linkedin.com/in/stefano-fortezza/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://github.com/stefortezza" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a href="https://www.instagram.com/stefano_fortezza/"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>          
        </div>
        <div class="col-md-4">
          <h5>Orari di Apertura</h5>
          <ul class="list-unstyled">
            <li><i class="material-icons">access_time</i> Lun - Ven: 10:00 - 23:00</li>
            <li><i class="material-icons">access_time</i> Sab: 10:00 - 00:00</li>
            <li><i class="material-icons">access_time</i> Dom: 10:00 - 00:00</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Risto Demo. Tutti i diritti riservati.</p>
        </div>
      </div>
    </div>
  </footer>