<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8">
      <!-- Contenuto principale (elementi dell'ordine) -->
      <div
        class="card border shadow-none"
        *ngFor="let item of items; let i = index"
      >
        <div class="card-body">
          <div class="d-flex align-items-start border-bottom pb-3">
            <!-- Immagine del prodotto -->
            <div class="me-4">
              <img [src]="item.image" alt="" class="avatar-lg rounded" />
            </div>
            <!-- Dettagli del prodotto -->
            <div class="flex-grow-1 align-self-center overflow-hidden">
              <div>
                <h5 class="text-truncate font-size-18">{{ item.title }}</h5>
                <!-- Quantità e prezzo del prodotto -->
                <p class="text-muted mb-2">
                  {{ item.quantity }}x - €{{
                    (item.price * item.quantity).toFixed(2)
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- COMPLETATA NON TOCCARE PIU` -->
    <div class="col-xl-4">
      <!-- Contenuto laterale (riepilogo ordine e pagamento) -->
      <div class="mt-5 mt-xl-0">
        <div class="card border shadow-none">
          <div class="card-header bg-transparent border-bottom py-3 px-4">
            <h5 class="mb-0 fw-bold">
              Concludi l'ordine <span class="float-end"></span>
            </h5>
          </div>
          <div class="card-body p-4 pt-2">
            <div class="table-responsive">
              <table class="table mb-0">
                <tbody>
                  <!-- Elementi dell'ordine -->
                  <tr *ngFor="let item of items">
                    <td>{{ item.quantity }}x - {{ item.title }}</td>
                    <td class="text-end">
                      €{{ (item.price * item.quantity).toFixed(2) }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Riepilogo totale ordine -->
              <tr class="mt-5">
                <td class="fw-bold pt-3">Totale ordine:</td>
                <td class="text-end fw-bold">€{{ total.toFixed(2) }}</td>
              </tr>
              <!-- Componente PayPal per il pagamento -->
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
