<nav class="navbar">
    <div class="navbar-content">
      <div class="logo" >Logo</div>
      <div class="auth-links">
        <div class="register-forgot text-end mx-2">
          <a href="#" class="register-link fw-semibold mb-0 m-0">Registrazione</a>
          <a href="#" class="forgot-password-link mt-0">Password dimenticata?</a>
        </div>
        <input type="email" placeholder="Email" class="email-input px-2">
        <input type="password" placeholder="Password" class="password-input px-2">
        <button class="login-button">Login</button>
      </div>
    </div>
  </nav>
  