<div class="section-container">
  <div class="logo-container">
    <a [routerLink]="['/']">
      <img src="../../assets/img/Risto Beta.jpg" alt="Logo" class="logo-image" />
    </a>
    <div class="logo-text">
      <h1>Risto Beta</h1>
      <p>Orario di oggi: 10:00 - 23:00</p>
      <p>Via Roma, 100 - 95041 Caltagirone (CT)</p>
    </div>
  </div>
  <div class="content-container rounded-4">
    <img
      src="../../assets/img/hamburger-8026582_1280.jpg"
      alt="Promotional Image"
      class="promo-image"
    />
    <div class="promo-text">
      <p>
        Scopri tutte le promozioni e le <br />
        novità che ti offriamo. Non perderti <br />
        nessuna occasione!
      </p>
      <a href="#" class="discover-link">Scopri>></a>
    </div>
  </div>
</div>
