<div class="modal-header">
  <img src="assets/img/imgLogo.jpg" alt="Logo" class="logo-image" />
  <button class="close-button" (click)="close()">
      X
  </button>
</div>

<div class="modal-body">
  <h2>Seleziona il metodo di consegna:</h2>
  <div class="delivery-methods">
    <button id="ritiroButton" class="delivery-method-1" (click)="selectDeliveryMethod('Ritiro in sede')">
      <mat-icon>store</mat-icon>
      <span>Ritiro in sede</span>
    </button>
    <button id="domicilioButton" class="delivery-method-1" (click)="selectDeliveryMethod('Consegna a domicilio')">
      <mat-icon>home</mat-icon>
      <span>Consegna a domicilio</span>
    </button>
    <button id="tavoloButton" class="delivery-method-2" (click)="selectDeliveryMethod('Ordine al tavolo')">
      <mat-icon>restaurant</mat-icon>
      <span>Ordine al tavolo</span>
    </button>
  </div>

  <!-- Form per l'indirizzo -->
  <div id="domicilioForm" *ngIf="selectedDeliveryMethod === 'Consegna a domicilio'" class="form-section">
    <h3>Inserisci l'indirizzo di consegna:</h3>
    <form>
      <input type="text" id="address" name="address" placeholder="Indirizzo abitazione / consegna" />
      <input type="text" id="streetNumber" name="streetNumber" placeholder="N° civico" />
      <input type="text" id="city" name="city" placeholder="Comune / Città" />
      <button type="button" class="location-button" (click)="getLocation()">
        <mat-icon class="location-icon">location_on</mat-icon>
        Localizza la posizione
      </button>
    </form>
  </div>

  <!-- Form per l'ordine al tavolo -->
  <div id="tavoloForm" *ngIf="selectedDeliveryMethod === 'Ordine al tavolo'" class="form-section">
    <h3>Inserisci i dettagli del tavolo:</h3>
    <form>
      <div class="form-group">
        <label for="tableNumber">Tavolo n°*</label>
        <input type="text" id="tableNumber" name="tableNumber" placeholder="Numero tavolo da servire" />
      </div>
      <div class="form-group">
        <label for="personsNumber">Num. persone*</label>
        <input type="text" id="personsNumber" name="personsNumber" placeholder="Numero di persone al tavolo" />
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button mat-button class="custom-primary-button" (click)="close()">Continua</button>
</div>
